@font-face{ 
	font-family: 'CyberpunkWaifus';
	src: url('cyberpunkwaifus-webfont.woff') format('woff');
}

@font-face{ 
	font-family: 'Va-11 Hall-A 6px';
	src: url('va-11-hall-a-6px-webfont.woff') format('woff');
}

.App {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.System {
  text-align: center;
  font-family: 'CyberpunkWaifus';
  background-color: #264BFF;
  font-size: 3.125vmax;
  display: flex;
  flex-direction: row;
  color: white;
}

.System > * {
  margin: 1vmax;
}

.System-window {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  padding: 0 1vmax 1vmax;
}

.System-window-maintain-aspect {
  flex: 4.44;
  padding-bottom: 57.5%;
  position: relative;
}

.System-window-maintain-aspect > div {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.System-sidebar {
  flex: 1;
}

.System-window-tab-bar {
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  font-family: 'Va-11 Hall-A 6px';
  font-size: 2.5vmax;
}

.System-window-tab {
  background-color: #FFF;
  color: #000;
  padding: .187vmax 1vmax .375vmax .57vmax;
  margin-right: .57vmax;
  text-align: left;
}

.System-window-tab.selected, 
.System-window-tab:hover,
.System-window-tab:active {
  background-color: #000;
  color: #FFF;
}


.System-window-inner {
  background-color: #000;
  flex-grow: 1;
  text-align: left;
}

.System-window-inner-sort {
  padding-top: 5.25vmax;
  padding-left: 4.25vmax;
}

.System-window-inner-sort-left {
  width: 47%;
}

.System-window-inner-sort-title {
  margin-bottom: 6.75vmax;
}

.System-window-inner-sort-name-options {
  padding-left: 3vmax;
  display: flex;
  flex-wrap: wrap;
}

.System-window-inner-sort-name-option {
  flex: 0 50%;
  padding-bottom: 4.5vmax;
  color: #808080;
}

.System-window-inner-sort-name-option.selected, 
.System-window-inner-sort-name-option:hover,
.System-window-inner-sort-name-option:active {
  color: #FFF;
}

.System-window-inner-decoration-left {
  position: absolute;
  background-color: black;
  width: .25vmax;
  height: 52.25vmax;
  left: .5vmax;
  bottom: 1vmax;
}

.System-window-inner-decoration-right {
  position: absolute;
  background-color: black;
  width: .25vmax;
  height: 52.25vmax;
  right: .5vmax;
  bottom: 1vmax;
}

.System-window-inner-decoration-bottom {
  position: absolute;
  background-color: black;
  width: 76.35vmax;
  height: .25vmax;
  right: 1vmax;
  bottom: .5vmax;
}