@font-face{ 
	font-family: 'CyberpunkWaifus';
	src: url('cyberpunkwaifus-webfont.woff') format('woff');
}

@font-face{ 
	font-family: 'Va-11 Hall-A 6px';
	src: url('va-11-hall-a-6px-webfont.woff') format('woff');
}

/**
https://github.com/sass/sass/issues/2378#issuecomment-433868712
*/
@function max($numbers...) {
  @return m#{a}x(#{$numbers})
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers})
}

body {
  overflow-x: hidden; 
  overflow-y: hidden;
}

$aspect-ratio: 820/482;

html {
  font-size: min(3.3195vw/$aspect-ratio, 3.3195vh);
}

.App {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;

  img {
    image-rendering: pixelated;
  }

  .System {
    text-align: center;
    font-family: 'CyberpunkWaifus';
    background-color: #264BFF;
    font-size: (28rem/16);
    display: flex;
    flex-direction: row;
    color: white;
    width: 51.25rem;
    height: 30.25rem;
    
    @keyframes popin {
      0% {
        visibility: hidden;
      }
      100% {
        visibility: visible;
      }
    }


    .System-window-maintain-aspect {
      width: (646rem/16);
      height: 29.25rem;
      position: relative;
      margin: .375rem .5rem;
      animation: 1s popin 1;
      animation-timing-function: step-end;
    
      & > div {
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
      }
    
      .System-window {
        background-color: #FFF;
        display: flex;
        flex-direction: column;
        width: (630rem/16);
        padding: 0 .5rem .625rem;
      
        .System-window-tab-bar {
          background-color: #FFF;
          display: flex;
          flex-direction: row;
          font-family: 'Va-11 Hall-A 6px';
          font-size: 1.251rem;
        
          .System-window-tab {
            background-color: #FFF;
            color: #000;
            padding: 0 .5rem (4rem/16) (4rem/16);
            margin-right: (6rem/16);
            text-align: left;
          
            &.selected, &:hover, &:active {
              background-color: #000;
              color: #FFF;
            }
          }
        }
    
        .System-window-inner {
          background-color: #000;
          flex-grow: 1;
          text-align: left;
    
          .System-window-inner-sort {
            padding-top: (47rem/16);

            .System-window-inner-sort-left {
              float: left;
              width: (271rem/16);

              .sort-options {
                display: flex;
                flex-wrap: wrap;

                .option {
                  margin-left: (20rem/16);
                  margin-right: (1.5rem/16);
                  margin-bottom: (8rem/16);
                  padding: (17rem/16) (39rem/16) (10rem/16) (42rem/16);
                  color: #808080;

                  &.selected, &:hover, &:active {
                    color: #FFF;
                  }
                }
              }

              .System-window-inner-sort-title {
                margin-bottom: (36rem/16);
                padding-left: (32.5rem/16);
              }
            }

            .sort-right {
              float: left;
              display: flex;
              flex-direction: column;
              margin-left: (59rem/16);

                .option {
                  margin-bottom: (8rem/16);
                  color: #808080;
                  padding: (16rem/16) (55rem/16) (11rem/16) (42rem/16);
                  
                  &.selected, &:hover, &:active {
                    color: #FFF;
                  }
                }
              }

            &.sort-name {
              .System-window-inner-sort-left .sort-options .option {
                flex: 0 calc(50% - 8rem);   
              }
            }

            &.sort-flavor {
              .System-window-inner-sort-left .sort-options .option {
                padding-left: (12rem/16);  
              }
            }

            &.sort-bottled {
              .sort-options {
                display: flex;
                flex-wrap: wrap;
                margin-top: (-17rem/16);
                
                padding-left: (38rem/16);
                padding-right: (38rem/16);

                .option {
                  margin: 0 (10rem/16) (20rem/16);
                  height: (106rem/16); // 116 - 10 
                  width: (252rem/16);
                  border: (2rem/16) solid white;
                  padding-top: (10rem/16);

                  .image {
                    float: left;
                    height: (40rem/16);
                    margin-left:(6rem/16);
                    width: (60rem/16);
                    margin-right:(2rem/16);
                    img {
                      width: 100%;
                    }
                  }
                  .text {
                    float: left;
                    width: (184rem/16);
                    .description {  
                      font-family: 'Va-11 Hall-A 6px';
                      font-size: 1.251rem;    
                      white-space: pre-wrap; 
                    }
                  }

                  &.empty {
                    border-color: black;
                  }

                  &.selected, &:hover, &:active {
                    border-color: #FFBB31;
                    color: #FFBB31;
                  }
                }
              }
              .bottled-drinks-copy {
                padding: 0 (48rem/16);
              }
            }
          }

          .btcImage {
            // width: 100%;
            // display: none;
            width: (630rem/16);
            height: (420rem/16);
          }
          
          .drink {
            padding: (32rem/16) 0 0 (22rem/16);
            .drink-title {
              font-size: (9em/7);
            }
            .drink-description {
              height: 17.125rem;
              margin-top: (30rem/16);
              padding-right: 1.5rem;
              font-family: 'Va-11 Hall-A 6px';
              line-height: 1.45;
              font-size: 1.247rem;
              .nowrap {
                white-space: nowrap;
              }
              .adelhyde {
                color: #F21637;
              }
              .bronsonExtract {
                color: #FFD230;
              }
              .powderedDelta {
                color: #87ACF3;
              }
              .flanergide {
                color: #A6D26D;
              }
              .karmotrine {
                color: #47D4D4
              }
            }
            .navigation {
              display: flex;
              flex-direction: row;
              padding: 0 .25rem;
              font-family: 'CyberpunkWaifus';
              font-size: (28rem/16);
              img {
                width: (46rem/16);
                height: (48rem/16);
                opacity: .30;
              }
              .left {
                transform: scaleX(-1);
              }
              .midsection {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30.125rem;
                padding-bottom: .5rem;
                padding-left: .5rem;
              }
              .left, .right {
                margin: .125rem 0;
                &.active {
                  opacity: 1;
                  &:active {
                    margin-top: .25rem;
                    margin-bottom: 0;
                  }
                }
              }
            }
          }
        }
    
        .System-window-inner-decoration {
          position: absolute;
          background-color: black;
        
          &.left, &.right {
            width: .125rem;
            height: 26.50rem;
            bottom: .625rem;
          }
        
          &.left {
            left: .25rem;
          }
        
          &.right {
            right: .25rem;
          }
        
          &.bottom {
            height: .125rem;
            width: (630rem/16);
            bottom: .375rem;
            right: .5rem;
          }
        }
      }
    }

    @keyframes lowframeratefadeout {
      3.333% {
        top: 0rem;
      }
      6.667% {
        top: 0rem;
      }
      10% {
        top: 0rem;
      }
      13.333% {
        top: .625rem;
      }
      16.667% {
        top: 1.875rem;
      }
      20% {
        top: 3.125rem;
      }
      23.333% {
        top: 4.375rem;
      }
      26.667% {
        top: 5.625rem;
      }
      30% {
        top: 6.875rem;
      }
      33.333% {
        top: 8.125rem;
      }
      36.667% {
        top: 9.375rem;
      }
      40% {
        top: 10.625rem;
      }
      43.333% {
        top: 11.875rem;
      }
      46.667% {
        top: 13.125rem;
      }
      50% {
        top: 14.375rem;
      }
      53.333% {
        top: 15.625rem;
      }
      56.667% {
        top: 16.875rem;
      }
      60% {
        top: 18.125rem;
      }
      63.333% {
        top: 19.375rem;
      }
      66.667% {
        top: 20.625rem;
      }
      70% {
        top: 21.875rem;
      }
      73.333% {
        top: 23.125rem;
      }
      76.667% {
        top: 24.375rem;
      }
      80% {
        top: 25.625rem;
      }
      83.333% {
        top: 26.875rem;
      }
      86.667% {
        top: 28.125rem;
      }
      90% {
        top: 29.375rem;
      }
      93.333% {
        top: 30.125rem;
      }
      96.667% {
        top: 30.125rem;
      }
      100% {
        top: 30.125rem;
      }
    }

    .blinder {
      width: (820rem/16); // 646 + 16 from margin + 158 from sidebar
      height: 30.125rem; // 29.25 + .75 + .125 from margin
      top: 30.125rem;
      position: absolute;
      background-color: black;
      animation: 1s lowframeratefadeout 1;
      animation-timing-function: step-end;
    }

    .System-sidebar {
      width: (158rem/16);
      .System-sidebar-calicomp {
        float: right;
        width: (69rem/16*2);
        margin-right: (2rem/16);
        img {
          width: 100%;
        }
      }

      .drink-preview {
        float: right;
        width: (144rem/16);
        height: (170rem/16);
        background-color: black;
        margin-top: (172rem/16);
        margin-right: (6rem/16);
        border: (4rem/16) solid white;

        .drink-picture {
          height: (138rem/16);
          background-color: black;
          position: relative;

          img {
            position: absolute;
            bottom: (20rem/16);
            left: (42rem/16);
            width: (60rem/16);
          }
        }
        .drink-name {
          text-align: left;
          font-family: 'Va-11 Hall-A 6px';
          font-size: 1.251rem;
          position: relative;
          bottom: 0;
          width: (130rem/16);
          height: (28rem/16);
          background-color: black;
          padding-left:(6rem/16);
          margin-left:(4rem/16);
          outline: (4rem/16) solid white;
          outline-offset: (-2rem/16);
        }
      }
    }
  }  
}


